/.idea
/*.iml
/logs
*~
/out
/dist
/build
/*.log
/.vs
/.vscode
/x64
/Release
/Debug
/*.sdf
/*.opensdf
/*.sln
/*.suo
/*.vcxproj
/*.vcxproj.*

/CMakeCache.txt
/CMakeFiles/
/Makefile
/cmake_install.cmake
/package_gpc
package_gpc.exe
